* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.title {
  height: 100px;
  background-color: rgb(98, 182, 185);
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}